.result-view {
  padding: 130px 0;

  .images {
    text-align: center;

    img {
      display: none;
      max-width: 100%;

      &.active {
        display: inline-block;
      }
    }
  }

  &.ready {
    .loader {
      display: none;
    }
  }
}
