@import 'color';
@import 'variables';
@import 'helpers';
@import 'logo';
@import 'radial-progress';
@import 'navigation';
@import 'details';
@import 'sidenav';
@import 'result-view';

html, body, .current-view-container {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-weight: 300;
}

main, footer {
    padding-left: 240px;
}

main > .hidden {
    display: none;
}

.card-offset {
    margin-top: 15% !important;
}

#search {
    color: initial;
}

/* materialize fix */
.tabs {
    overflow: hidden;
}

/* Fix icons position in card title */
.card-title .material-icons {
    line-height: inherit;
    vertical-align: top;
}
.keyboard-shortcuts span {
    display: inline-block;
    color: color('grey', 'base');
    text-decoration: none;
    text-align: center;
    width: 44px;
    height: 41px;
    line-height: 41px;
    margin: 5px;
    background: color('grey', 'lighten-5');
    border-radius: 4px;
    border-top: 1px solid #f5f5f5;
    text-shadow: 0 1px 0 #f5f5f5;
    box-shadow: inset 0 0 25px rgba(0,0,0, .05), 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #444;
}
