<% var progress = parseInt(model.get('tests').results.length / model.get('tests').total * 100) %>
<a href="#!/spec/<%= model.get('slug') %>" class="collection-item lighten-1" data-slug="<%= model.get('slug') %>">
    <% if(progress < 100) { %>
    <div class="progress transparent">
        <div class="determinate" style="width: <%= progress %>%"></div>
    </div>
    <% } %>
    <div class="content">
        <span class="label"><%= model.get('name') %></span>
        <span><%= renderGauge(model.getAverageDiff()) %></span>
    </div>
</a>
