<%
    var total = report.metadata.tests.count;
    var completed = report.metadata.tests.completed;
    var failing = report.metadata.tests.failing;
    var succeed = completed - failing;
    var pending = total - completed;
    var duration = parseInt((report.metadata.finished - report.metadata.started) / 1000);
%>

<div class="card card-offset">
    <div class="card-content">
        <span class="card-title black-text">
            <i class="material-icons">assignment</i> Rediff Report for <%= report.project %>
        </span>
        <p>We found a report for the last run from <%= new Date(report.metadata.started).toISOString() %>.</p>
        <p>
           The report contains <%= total %> tests
            <% if(completed === total) { %>analyzed in <%= duration %>s.<% } %>
        </p>
        <p>
            <strong><%= completed %></strong> tests succeed <br/>
            <strong><%= failing %></strong> tests failed <br/>
            <% if(pending > 0) { %>
            <strong><%= pending %></strong> tests still in progress <br/>
            <% } %>
        </p>
    </div>
</div>
