<nav>
    <div class="nav-wrapper">
        <div id="viewports" class="viewports right"></div>

        <div class="environments">
            <ul class="tabs transparent">
                <% _.keys(environments).forEach(function(environment) { %>
                <li class="tab col s2">
                    <a href="#<%= environment %>" data-toggle="environment" data-env="<%= environment %>" class="white-text">
                        <%= environment %>
                    </a>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
</nav>
